
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #dccde8;
    font-family: 'Pacifico', cursive;
}

li{
    list-style:none;
}

.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5d2a42;
}

.logo {
    margin: 0 0 0 .20em;
}

    .logo a img{
        width:8%;
        height:8%;
    }

.logo, .navitems {
    list-style: none;
    text-transform: uppercase;
}

    .logo a, .navitems a {
        text-decoration: none;
        
    }

.navitems {
    display: flex;
}

    .navitems a {
        display: block;
        padding: 1em;
        color: white;
        font-family: 'Pacifico', cursive;
    }

        .navitems a:hover {
            background: #e6af2e;
        }


@media all and (max-width: 990px) {
    .navigationbar {
        flex-direction: column;
    }

    .logo {
        margin: 0;
    }

    .navitems {
        width: 100%;
        justify-content: space-around;
    }
}



@media all and (max-width: 600px) {

    .logo {
        margin: .25em 0;
        align-self: left;
    }

    .navitems {
        flex-direction: column;
    }

        .navitems a {
            text-align: center;
            padding: 10px;
        }
}

.cvr {
    width: 100%;
    height: 100vh;
}



.sevcards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

#i1 {
    width: 100%;
    height: 300px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:0.83em;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px 5px white;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.side-a, .side-b {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.side-a {
    background-color: #bbb;
    color: black;
}

#m1 {
    background-color: #eb5c68;
    color: white;
    transform: rotateY(180deg);
}

#m2 {
    background-color: #eb8258;
    color: white;
    transform: rotateY(180deg);
}

#m3 {
    background: #f9d94e;
    color: white;
    transform: rotateY(180deg);
}

#m4 {
    background-color: #03b5aa;
    color: white;
    transform: rotateY(180deg);
}

#m5 {
    background-color: #1fa2ff;
    color: white;
    transform: rotateY(180deg);
}

#m6 {
    background: #3333ff;
    color: white;
    transform: rotateY(180deg);
}

#m7 {
    background-color: #661fff;
    color: white;
    transform: rotateY(180deg);
}

footer {
    padding: 5px;
    background: #5d2a42;
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-align:center;
}

p span {
    display:inline-block;
}


a i {
    color: white;
    font-size: 48px;
    padding-left:10px;
}


#slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@keyframes load {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.slides {
    width: 400%;
    height: 100vh;
    position: relative;
    -webkit-animation: slide 20s infinite;
    -moz-animation: slide 20s infinite;
    animation: slide 20s infinite;
}

.slider {
    width: 25%;
    height: 100vh;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}


.image {
    width: 100%;
    height: 100%;
}

    .image img {
        width: 100%;
        height: 100%;
    }

@-webkit-keyframes slide {
    0%,100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}

@-moz-keyframes slide {
    0%,100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}

@keyframes slide {
    0%,100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}